/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/vendor/statamic
/storage/*.key
/storage/pail
/storage/website
/vendor
.phpstorm.meta.php
_ide_helper.php
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
